body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:1250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14383 {
  position:absolute;
  left:100px;
  top:40px;
  width:442px;
  height:1250px;
}
#u14384 {
  position:absolute;
  left:2px;
  top:617px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u14385 {
  position:absolute;
  left:310px;
  top:75px;
  width:22px;
  height:22px;
}
#u14386 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14387 {
  position:absolute;
  left:282px;
  top:107px;
  width:80px;
  height:20px;
}
#u14388 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u14389 {
  position:absolute;
  left:287px;
  top:1160px;
  width:70px;
  height:70px;
}
#u14390 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:897px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14391 {
  position:absolute;
  left:134px;
  top:170px;
  width:375px;
  height:897px;
}
#u14392 {
  position:absolute;
  left:2px;
  top:440px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:12px;
}
#u14393 {
  position:absolute;
  left:140px;
  top:174px;
  width:364px;
  height:12px;
}
#u14394 {
  position:absolute;
  left:2px;
  top:-2px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14395 {
  position:absolute;
  left:134px;
  top:191px;
  width:375px;
  height:51px;
}
#u14396 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u14397 {
  position:absolute;
  left:148px;
  top:206px;
  width:13px;
  height:21px;
}
#u14398 {
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14399 {
  position:absolute;
  left:249px;
  top:206px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14400 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u14401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14401 {
  position:absolute;
  left:134px;
  top:241px;
  width:375px;
  height:39px;
}
#u14402 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:879px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14403 {
  position:absolute;
  left:134px;
  top:241px;
  width:375px;
  height:879px;
}
#u14404 {
  position:absolute;
  left:2px;
  top:432px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:855px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u14405 {
  position:absolute;
  left:150px;
  top:260px;
  width:342px;
  height:855px;
  color:#666666;
}
#u14406 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
